* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --content-primary: #ffffff;
    --content-secondary: #c7c9cc;
    --content-tertiary: #d9d9d9;
    --content-brand: #c58de7;
    --color-inverse: #030203;

    --b-primary: #020202;
    --b-secondary: #111012;
    --b-tertiary: #24222e;
    --b-brand: #c58de7;
    --b-gray: #3d3d3d;

    --gradient-border: linear-gradient(to right, #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
    --gradient-background:linear-gradient(to right, #D586E0 0%, #91A1FA 98.93%);
    --gradient-content: linear-gradient(to right, #C7C9CC 0%, #3D3D3D 100%);

    --f-overline: 700 1rem/150% "Roboto Mono", monospace;

    --f-display: "Sora", sans-serif;
    --display-large: 800 4.5rem/130% var(--f-display);
    --display-medium: 800 2.5rem/130% var(--f-display);
    --display-small: 700 2rem/130% var(--f-display);

    --f-paragraph: "Roboto Flex", sans-serif;
    --paragraph-large: 500 1rem/150% var(--f-paragraph);
    --paragraph-medium: 500 0.875rem/150% var(--f-paragraph);
    --paragraph-small: 500 0.75rem/150% var(--f-paragraph);

    --label-medium: 700 1.25rem/150% var(--f-paragraph);
    --label-small: 700 1rem/150% var(--f-paragraph);
} 

body {
    width: 100vw;
    height: 100vh;
    background: #020202 url(assets/background.png) no-repeat center/cover;
    color: var(--content-primary);
}

.container {
    max-width: 80rem;
    height: 100vh;
    margin-inline: auto;
}

/* LOGO */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6875rem;
    font: 900 1.5rem/130% var(--f-display);
    margin-bottom: 2.5rem;
}

.logo img {
    width: 2.125rem;
    height: 2.125rem;
}

section + section {
    margin-block: 3rem 3.5rem;
}

/* ESTILOS DAS FONTES GERAL E NO HEADER */
h1, h2, h3, button, label {
    text-transform: uppercase;
}

section header h3 {
    font: var(--f-overline);
    letter-spacing: .125rem;
    color: linear-gradient(to right, #C7C9CC 0%, #3D3D3D 100%);
}

section header h1 {
    font: var(--display-medium);
}

.info-wrapper h2 {
    font: var(--label-medium);
}

.info-wrapper p,
.info-wrapper span.quest {
    font: var(--paragraph-medium);
}

section .info-wrapper h2 {
    margin-bottom: 2px;
}

/* FORMULÁRIO - INPUTS, BUTTON */
form .result {
    margin-block: 2.5rem;
}

.input-container {
    padding: .125rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.input-wrapper label {
    margin-bottom: .5rem;
    display: flex;
    justify-content: center;
    font: var(--label-medium);
}

.input-container .input-wrapper {
    max-width: 6.5rem;
    height: 5.5rem;
}

input {
    appearance: none;

    width: 100%;
    border-radius: .5rem;
    border: 2px solid transparent;
    outline: 1px solid var(--b-secondary);
    background-color: var(--b-secondary);

    padding: .25rem .5rem;
    font: var(--display-small);
    text-align: center;
    color: var(--content-primary);
}

input:hover {
    outline: .125rem solid var(--b-brand);
}

input:focus {
    outline: .25rem solid var(--b-brand);
    outline-offset: .1px;
}

button {
    font: var(--label-medium);
    width: 100%;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    outline: none;
    border: 2px solid transparent;
    cursor: pointer;
}

#random-btn {
    color: var(--content-primary);
    background-color: var(--b-tertiary);
}

/* ASIDE */
aside .info-wrapper {
    display: flex;
    align-items: flex-start;
    gap: .5rem;
}

aside .info-wrapper + .info-wrapper {
    margin-top: 2.25rem;
}

aside .quest {
    color: var(--content-brand);
    font: var(--paragraph-medium);
    margin-bottom: .5rem;
}

aside p {
    color: var(--content-secondary);
    font: var(--paragraph-small);
}

section {

    border: 1px solid rgb(0, 153, 255);
}

@media (width < 80em) {
    .container {
        padding: 2.5rem;
    }
}

@media (width >= 80em) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        margin-right: auto;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 46.26% 43.89%;
        justify-content: space-between;
    }

    section.header-container {
        position: relative;
    }

    section.header-container header h1 {
        font: var(--display-large);
    }

    section.header-container header {
        margin-bottom: 2.375rem;
    }

    aside {
        border: 1px solid red;
        max-width: 28rem;
        position: absolute;
        top: 58.5%;
    }
}