* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --content-primary: #ffffff;
    --content-secondary: #c7c9cc;
    --content-tertiary: #d9d9d9;
    --content-brand: #c58de7;
    --color-inverse: #030203;

    --b-primary: #020202;
    --b-secondary: #111012;
    --b-tertiary: #24222e;
    --b-brand: #c58de7;
    --b-gray: #3d3d3d;

    --gradient-border: linear-gradient(to right, #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
    --gradient-background:linear-gradient(to right, #D586E0 0%, #91A1FA 98.93%);
    --gradient-content: linear-gradient(to right, #C7C9CC 0%, #3D3D3D 100%);

    --f-overline: 700 1rem/150% "Roboto Mono", monospace;

    --f-display: "Sora", sans-serif;
    --display-large: 800 4.5rem/130% var(--f-display);
    --display-medium: 800 2.5rem/130% var(--f-display);
    --display-small: 700 2rem/130% var(--f-display);

    --f-paragraph: "Roboto Flex", sans-serif;
    --paragraph-large: 500 1rem/150% var(--f-paragraph);
    --paragraph-medium: 500 0.875rem/150% var(--f-paragraph);
    --paragraph-small: 500 0.75rem/150% var(--f-paragraph);

    --label-medium: 700 1.25rem/150% var(--f-paragraph);
    --label-small: 700 1rem/150% var(--f-paragraph);
} 

body {
    width: 100vw;
    height: 100vh;
    background: #020202 url(assets/background.png) no-repeat center/cover;
    color: var(--content-primary);
}

.container {
    max-width: 80rem;
    height: 100vh;
    margin-inline: auto;
}

/* LOGO */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6875rem;
    font: 900 1.5rem/130% var(--f-display);
    margin-bottom: 2.5rem;
}

.logo img {
    width: 2.125rem;
    height: 2.125rem;
}

section + section {
    margin-block: 3rem 3.5rem;
}

/* ESTILOS DAS FONTES GERAL E NO HEADER */
h1, h2, a, button, label {
    text-transform: uppercase;
}

/* Criando efeito degradê */
section header span {
    margin-bottom: 0.5rem;
}

section header .subtitle {
    border: 0;
    background-color: transparent;
    width: fit-content;

    font: var(--f-overline);
    letter-spacing: .125rem;
    color: var(--content-primary);
}

.subtitle[aria-label] {
    position: relative;
}

/* fundo escuro ficará em cima */
.subtitle[aria-label]::before {
    content: "";
    position: absolute;
    inset: 1px;
    background-color: var(--gradient-content);
}

/* fundo degradê ficará em embaixo com as letras transparente */
.subtitle[aria-label]::after {
    content: attr(aria-label);
    background: var(--gradient-content);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: relative;
}

section header h1 {
    font: var(--display-medium);
}


.info-wrapper h2 {
    font: var(--label-medium);
    margin-bottom: 2px;
}

.info-wrapper p {
    color: var(--content-secondary);
}

.info-wrapper p,
.info-wrapper span.quest {
    font: var(--paragraph-medium);
}



/* FORMULÁRIO - INPUTS, BUTTON */
form .result {
    margin-block: 2.5rem;
}

.input-container {
    padding: .125rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.input-container .input-wrapper {
    max-width: 6.5rem;
    height: 5.5rem;
}

.input-wrapper label {
    margin-bottom: .5rem;
    display: flex;
    justify-content: center;
    font: var(--label-medium);
    color: var(--content-secondary);
    transition: color .3s ease-in-out;
}

.input-wrapper:focus-within label,
.input-wrapper:hover label {
    color: var(--content-brand);
}

/* Degradê */
.border-input {
    position: relative;
    max-width: 6.5rem;
    height: 3.5rem;
    border-radius: 0.5rem;  
}

.border-input::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    translate: -50% -50%;

    border-radius: inherit;
    background: var(--gradient-border);
    z-index: -1;
    padding: 1.5px;
    opacity: 0;
    animation: 3s spin linear infinite;
    transition: opacity .4s ease;
}

.input-wrapper:hover .border-input {
    background-color: var(--b-secondary);
    z-index: 1;
}

.input-wrapper:hover .border-input::before {
    opacity: 1;
}

.input-wrapper:focus-within .border-input::before {
    opacity: 1;
    padding: 2px;
}

.border-input input {
    all: unset;

    position: relative;
    max-width: 6.5rem;
    height: 3.5rem;
    border-radius: inherit;
    background-color: var(--b-secondary);
    text-align: center;
    font: var(--display-small);
    color: var(--content-primary);
    transition: background-color .4s ease;
}

input:hover {
    background-color: var(--b-tertiary);
}




/* Switch de não repetir */
.input-container:last-child {
    margin-top: 1.75rem;
    font: var(--paragraph-medium);

    display: flex;
    align-items: center;
}

#checkbox-track {
    position: relative;
    margin: 0;
    width: 2rem;
    height: 1.25rem;
}

#checkbox-track input[type="checkbox"] {
    outline: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background-color: var(--content-tertiary);
    border: 1px solid var(--content-tertiary);
    border-radius: 30rem;
    cursor: pointer;

    position: relative;
    transition: all 0.3s ease;
}

#checkbox-track input[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: 0.93rem;
    height: 0.93rem;
    top: 0.13rem;
    left: 0.13rem;
    border-radius: 50%;
    background: var(--content-primary);

    transition: all 0.3s ease;
}

#checkbox-track input[type="checkbox"]:checked {
    background: var(--gradient-background);
    border: 1px solid transparent;
}

#checkbox-track input[type="checkbox"]:checked::before {
    transform: translateX(0.70rem);
}



/*  */
button {
    font: var(--label-medium);
    width: 100%;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    outline: none;
    border: 2px solid transparent;
    cursor: pointer;
}

#random-btn {
    color: var(--content-primary);
    background-color: var(--b-tertiary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

/* Imagens do botão */
#random-btn .ani-01,
#random-btn .ani-02 {
    display: flex;
    align-items: center;
}

#random-btn .ani-02 {
    position: relative;
}

#random-btn .ani-02 img:last-child {
    position: absolute;
    left: 0.45rem;
}


/* ASIDE */
aside .info-wrapper {
    display: flex;
    align-items: flex-start;
    gap: .5rem;
}

aside .info-wrapper + .info-wrapper {
    margin-top: 2.25rem;
}

aside .quest {
    color: var(--content-brand);
    font: var(--paragraph-medium);
    margin-bottom: .5rem;
}

aside p {
    color: var(--content-secondary);
    font: var(--paragraph-small);
}



@media (width < 80em) {
    .container {
        padding: 2.5rem;   
    }

    aside .info-wrapper:last-child p {
        margin-bottom: 3.5rem;
    }
}

@media (width >= 80em) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        margin-right: auto;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 46.26% 43.89%;
        justify-content: space-between;
    }

    section.header-container {
        position: relative;
    }

    section.header-container header h1 {
        font: var(--display-large);
    }

    section.header-container header {
        margin-bottom: 2.375rem;
    }

    .info-wrapper p {
        font: var(--paragraph-large);
    }

    aside {
        max-width: 28rem;
        position: absolute;
        top: 58.5%;
    }
}