* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --content-primary: #ffffff;
    --content-secondary: #c7c9cc;
    --content-tertiary: #d9d9d9;
    --content-brand: #c58de7;
    --color-inverse: #030203;

    --b-primary: #020202;
    --b-secondary: #111012;
    --b-tertiary: #24222e;
    --b-brand: #c58de7;
    --b-gray: #3d3d3d;

    --gradient-border: linear-gradient(to right, #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
    --gradient-background:linear-gradient(to right, #D586E0 0%, #91A1FA 98.93%);
    --gradient-content: linear-gradient(to right, #C7C9CC 0%, #3D3D3D 100%);

    --f-overline: "Roboto Mono", monospace;
    --overline: 700 1rem/150% var(--f-overline); 

    --f-display: "Sora", sans-serif;
    --display-large: 800 4.5rem/130% var(--f-display);
    --display-medium: 800 2.5rem/130% var(--f-display);
    --display-small: 700 2rem/130% var(--f-display);

    --f-paragraph: "Roboto Flex", sans-serif;
    --paragraph-large: 500 1rem/150% var(--f-paragraph);
    --paragraph-medium: 500 0.875rem/150% var(--f-paragraph);
    --paragraph-small: 500 0.75rem/150% var(--f-paragraph);

    --label-large: 700 1.25rem/150% var(--f-paragraph);

    --label-medium: 700 1rem/150% var(--f-paragraph);
} 

body {
    width: 100vw;
    height: 100vh;
    background: #020202 url(assets/background.png) no-repeat center/cover;
    color: var(--content-primary);
}

.container {
    max-width: 45rem;
    height: 100vh;
    margin-inline: auto;
}

/* LOGO */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6875rem;
    font: 900 1.5rem/130% var(--f-display);
    margin-bottom: 2.5rem;
}

.logo img {
    width: 2.125rem;
    height: 2.125rem;
    transition: transform 500ms;   
}

/* LOGO ANIMATION */
.logo:hover img {
    transform: rotate(90deg);
}

section + section {
    margin-block: 3rem 3.5rem;
}

/* ESTILOS DAS FONTES GERAIS E NA TAG HEADER */
h1, h2, a, label {
    text-transform: uppercase;
}

/* Criando efeito degradê */
section header a {
    margin-bottom: 0.5rem;
    text-decoration: none;
    cursor: text;
}

section header .subtitle {
    border: 0;
    background-color: transparent;
    width: fit-content;

    font: var(--f-overline);
    letter-spacing: .125rem;
    color: var(--content-primary);
}

.subtitle[aria-label] {
    position: relative;
}

/* fundo escuro ficará em cima */
.subtitle[aria-label]::before {
    content: "";
    position: absolute;
    inset: 1px;
    background-color: var(--gradient-content);
}

/* fundo degradê ficará em embaixo com as letras transparente */
.subtitle[aria-label]::after {
    content: attr(aria-label);
    background: var(--gradient-content);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

section header h1 {
    font: var(--display-medium);
}

.info-wrapper h2 {
    font: var(--label-large);
    margin-bottom: 2px;
}

.info-wrapper p {
    color: var(--content-secondary);
}

.info-wrapper p,
.info-wrapper span.quest {
    font: var(--paragraph-medium);
}

/* CONFIGURAÇÕES DE FONTE NO SORTEIO */
.subtitle-prize {
    margin-bottom: 2.5rem;
    text-align: center;
    text-transform: uppercase;
}

.paragraph-prize {
    font: var(--f-overline);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3.5rem;
}

/* RESULT BLOCK - Configurações da div result */
.form-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 3.5rem;
}

.numbers-wrapper {
    position: relative;  
}

.square {
    width: 5.25rem;
    height: 5.25rem;

    border-radius: 1.25rem;
    padding-inline: 0.75rem;  
    background-color: var(--content-brand);
    animation: rotate 2s ease both, hiddenSquare 1.5s 2s ease both;
}

.number {
    font: 700 4rem/125% var(--f-overline);
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    animation: colorText 3s 1.9s ease both, showFont 1s 0.5s ease both, shrinkFont 1s 2.8s ease both;
}


/* FORMULÁRIO - INPUTS, BUTTON */
form .form-wrapper {
    display: block;
    margin-block: 2.5rem;
}

.input-container {
    padding: .125rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.input-container .input-wrapper {
    max-width: 6.5rem;
    height: 5.5rem;
}

.input-wrapper label {
    margin-bottom: .5rem;
    display: flex;
    justify-content: center;
    font: var(--label-medium);
    color: var(--content-secondary);
    transition: color .250ms ease-in-out;
}

.input-wrapper:focus-within label,
.input-wrapper:hover label {
    color: var(--content-brand);
}

/* Degradê nos inputs */
.border-input {
    position: relative;
    max-width: 6.5rem;
    height: 3.5rem;
    border-radius: 0.5rem;  
}

.border-input::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    translate: -50% -50%;

    border-radius: inherit;
    background-image: var(--gradient-border);
    background-size: 200% 200%;

    z-index: -1;
    padding: 1.5px;
    opacity: 0;
    
    animation: spin 1s linear infinite;
    transition: opacity .4s ease;
}

.input-wrapper:hover .border-input {
    background-color: var(--b-secondary);
    z-index: 1;
}

.input-wrapper:hover .border-input::before {
    opacity: 1;
}

.input-wrapper:focus-within .border-input::before {
    opacity: 1;
    padding: 2px;
}

.border-input input {
    all: unset;
    box-sizing: border-box;

    position: relative;
    max-width: 6.5rem;
    height: 3.5rem;
    border-radius: inherit;
    background-color: var(--b-secondary);
    text-align: center;
    font: var(--display-small);
    color: var(--content-primary);
    transition: background-color .4s ease;
}

input:hover {
    background-color: var(--b-tertiary);
}


/* Switch de não repetir */
.input-container:last-child {
    margin-top: 1.75rem;
    font: var(--paragraph-medium);

    display: flex;
    align-items: center;
}

.checkbox-track {
    position: relative;
    margin: 0;
    width: 2rem;
    height: 1.25rem;
}

.checkbox-track input[type="checkbox"] {
    outline: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background-color: var(--content-tertiary);
    border: 1px solid var(--content-tertiary);
    border-radius: 30rem;
    cursor: pointer;

    position: relative;
    transition: all 0.3s ease;
}

.checkbox-track input[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: 0.93rem;
    height: 0.93rem;
    top: 0.13rem;
    left: 0.13rem;
    border-radius: 50%;
    background: var(--content-primary);

    transition: all 0.3s ease;
}

.checkbox-track input[type="checkbox"]:checked {
    background: var(--gradient-background);
    border: 1px solid transparent;
}

.checkbox-track input[type="checkbox"]:checked::before {
    transform: translateX(0.70rem);
}

/* BOTÃO */
button {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem 1rem;
    border-radius: .5rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.random-btn {
    text-transform: uppercase;
    font: var(--label-large);
    color: var(--content-primary);
    background-color: var(--b-tertiary);
    position: relative;
    transition: background-color .4s ease;
}

.random-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    translate: -50% -50%;
    border-radius: inherit;

    background-image: var(--gradient-border);
    z-index: -1;
    opacity: 0;
    padding: 2px;
    background-position: 0% 50%;
    background-size: 200% 200%; /* deixa espaço para "correr" */
}

.random-btn:hover {
    background-color: var(--b-secondary);
}

.random-btn:hover::before {
    animation: spin 700ms ease-in-out 2;
    transition: opacity .2s ease;
    opacity: 1;
}

/* Imagens do botão */
/* BOTÃO DA ANIMAÇÃO DEFAULT */
.random-btn span.default::after {
    content: "SORTEAR";
}
 
.random-btn .default .ani-01 {
    background: url(assets/icons/arrow.svg) no-repeat center/cover;
    width: 2rem;
    height: 2rem;
}

.random-btn:hover .default .ani-01 {
    animation: move 2s ease both;
}

/* BOTÃO DA ANIMAÇÃO CHECKED */

.random-btn .checked .ani-01 {
    background: url(assets/icons/arrow-loop.svg) no-repeat center;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
}

.random-btn .checked .ani-02 {
    background: url(assets/icons/play.svg) no-repeat center;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 1.2rem;
}

.random-btn:hover .checked .ani-01  {
    animation: rotate 3s ease both;
}

.random-btn:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

/* ASIDE */
aside .info-wrapper {
    display: flex;
    align-items: flex-start;
    gap: .5rem;
}

aside .info-wrapper + .info-wrapper {
    margin-top: 2.25rem;
}

aside .quest {
    color: var(--content-brand);
    font: var(--paragraph-medium);
    margin-bottom: .5rem;
}

aside p {
    color: var(--content-secondary);
    font: var(--paragraph-small);
}


@media (width < 80em) {
    .container {
        padding: 1.1rem;   
    }

    aside .info-wrapper:last-child p {
        margin-bottom: 3.5rem;
    }
}

@media (width >= 80em) {
    .container {
        max-width: 80rem;
        padding: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        margin-right: auto;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 46.26% 43.89%;
        justify-content: space-between;
    }

    section.header-container {
        position: relative;
    }

    section.header-container header h1 {
        font: var(--display-large);
    }

    section.header-container header {
        margin-bottom: 2.375rem;
    }

    .info-wrapper p {
        font: var(--paragraph-large);
    }

    aside {
        max-width: 28rem;
        position: absolute;
        top: 58.5%;
    }
}

/* ANIMAÇÕES */
@keyframes rotate {
    to {
        rotate: 360deg;
    }
}

@keyframes hiddenSquare {
    to {
        scale: 0.6;
        opacity: 0;
    }
}

@keyframes showFont {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes colorText {
    from {
        color: var(--color-inverse);
    }

    to {
        color: var(--content-brand);
    }
}

@keyframes shrinkFont {
    from {
        font: 700 4rem/125% var(--f-overline);
    }
    to {
        font: 700 3rem/145% var(--f-overline);
    }
}

@keyframes move {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(0.75rem);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes spin {
    0%{
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
